#*
*#
*.swp
*~
.DS_Store
.blobs
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
/blobs
/bosh-lite/manifests/*
/bosh-lite/notifications-smtp-stub.yml
/bosh-lite/notifications-db-stub.yml
/config/dev.yml
/config/private.yml
/dev_releases
/releases/*.tgz
/src_alt
